@charset "utf-8";

body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
	background: #3E3D3D;
}

h1, h2, h3, h4, h5, h6, p {
	color: #F2F0ED;
}

.logo-image {
	width: 20%;
	margin: 0px;
	padding-top: 20px;
}

.container {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
}

.nav_bar {
	border-radius: 2px 2px 2px 2px;
	background: #171717;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.navbar_item {
	display: inline-block;
	margin: 0px;
	padding: 14px;
}

.navbar_item {
	list-style: none;
	text-decoration: none;
	margin: 0px;
	color: #c3c3c3;
}

.navbar_item:hover {
	background: #666666;
}

.active_nav {
	background: #666666;
}

.text-padding {
	padding-top: 15px;
	padding-bottom: 15px;
}

.img-wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.img-wrapper img {
	width: 100%;
}

.text-wrapper {
	margin-top: 8px;
}

.center-text {
	text-align: center;
	color: #000000;
}

.right-text {
	text-align: right;
	color: #000000;
}

.left-text {
	text-align: left;
	color: #000000;
}

.inline {
	display: inline-block;
}

.text-wrapper-inline {
	display: inline-block;
	color: #000000;
	height: inherit;
	width: 20vw;
}

.img-wrapper-inline {
	display: inline-block;
	width: 50%;
	height: inherit;
}

.main_page_text {
	font-family: 'Anton', sans-serif;
}
